<h1></h1>
<%- include('layout/header'); -%>

<!-- ##### Hero Area Start ##### -->
<div class="hero-area">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-12 col-lg-8">
                <!-- Error -->
                <div class="breaking-news-area d-flex align-items-center">
                    <div class="news-title" style="margin-left: 25vw">
                        <p><%= message %></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<%- include('layout/footer'); -%>